{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 60,
    "logs": {
        "text": "build/infection/infection-log.txt",
        "summary": "build/infection/summary-log.txt",
        "debug": "build/infection/debug-log.txt"
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "IdenticalEqual": {
            "ignore": [
                "MallardDuck\\Whois\\Client",
                "MallardDuck\\Whois\\WhoisServerList\\DomainLocator"
            ]
        }
    }
}
